.btn{

    width: 30px;
    height: 30px;
    border: none;
    border-radius: 8px ;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    background-color: rgb(255, 0, 51);
    color: #fff;
    cursor: pointer;
}

.resetbtn{
    width: 60px;
}

.btn:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
} 